.field
  %p
    = f.label :password
    %i (leave blank if you don't want to change it)
  = f.password_field :password
.field
  = f.label :password_confirmation
  = f.password_field :password_confirmation
