%h1 HOW IT WORKS
%h2 For Users:
%ol
  %li Sign Up to get the Best Deals.
  %li Choose available Deal(s) and Claim it.
  %li Print the Coupon and Redeem it to the Merchant.
%h2 For Merchants:
%ol
  %li Sign Up to post your Deal(s). Provide your Details including Branches.
  %li Create your Deal(s). Twiggzy only allows 20% Discount and above on your Deal(s).
  -# Remember, Twiggzy has a fixed 5% Share!
  %li Exciting Deal Day! Buyers purchase your Deal(s).
  -# and Don’t Forget to click “redeem” in the Tracking page for the Buyer to complete the transaction. 
  
