<p>
  <b>TERMS OF SALE</b><br />
  By placing an order for a given Deal, you make an offer to purchase
  the Deal you have selected on the terms, restrictions and conditions associated with the Deal.
  Once you’ve placed your order, you will received a confirmation of the Deal through your email address.
  You are required to create an account in order to claim the Deal. An account is required
  so we can collect information to allow you to claim any Deals and provide you with
  easy access to print your Deals, view your past purchases, and modify your preferences.
  <br /><br />
  Additionally, the following terms apply to all the deals:
<ul>
  <li>
    Merchant Deals may be applied only to merchandise sold by Merchant and its participating
    branches, and may not be applied to Value-added Tax (VAT), service charges,
    shipping or handling charges unless otherwise noted.
  </li>
  <li>No cash value for any Merchant Deal.</li>
  <li>No cash back upon redemption or at any other time.</li>
  <li>Neither the seller nor the Merchant is responsible for lost or
    stolen Coupon or Coupon's unique reference number.
  </li>
  <li>
    Coupon cannot be combined with any other gift certificates,
    third party certificates, coupons, or promotions.
  </li>
  <li>Duplicate use, sale or trade of a Coupon is strictly prohibited.</li>
  <li>
    The Coupon expires on the date specified on the Coupon, except that the Merchant may
    continue to redeem the unused cash value you paid for the Coupon.
  </li>
  <li>
    Any attempted redemption not consistent with these terms and conditions will render 
    the Coupon null and void to the extent prohibited by law.
  </li>
</ul>
<br />
Twiggzy is not responsible for Merchants' content, actions, or inactions,
items they list as sale or their destruction of allegedly fake items.
Twiggzy site is just venue to allow anyone to offer, sell, and buy items considered sale.
We are not involved in the actual transaction between you and Merchants.
While we may help facilitate the resolution of disputes through various programs,
we have no control over and do not guarantee the quality, safety, or
legality of items advertised, the truth or accuracy of merchants; content or listings,
or that a buyer or merchant will actually complete a transaction or return an item.
<br /><br />
<b>Reminder:</b> We must mention that we get to change these for any reason without
notice at any time. You shall be responsible for reviewing and noticing for any modifications.
<br /><br />
<b>Updated:</b> June 6, 2011
</p>