<h1>TERMS OF USE</h1>
<ul>
  <li><b><a href="#users">For Users</a></b></li>
  <li><b><a href="#merchants">For Merchants</b></h4></li>
</ul>

<h2><a name="users">FOR USERS</a></h2>

<p>
  <b>1. Introduction</b><br />
  Twiggzy provides you, its Services (herein after referred as "Website") under the following
  conditions. Please review the following terms carefully. By using this Website,
  you (or the “User”) agree to the terms and conditions that we (“Twiggzy”) have provided.
  If you do not agree to these terms and conditions (the “Terms of Use” or “Agreement”),
  please refrain from using the Website.
</p>

<p>
  <b>2. Information on the Website</b><br />
  While every effort is made to update the information contained on this Website,
  neither Twiggzy  nor any third party or data or content provider make any representations or
  warranties, whether express, implied in law or residual, as to the sequence, accuracy,
  completeness or reliability of information, opinions, any pricing information, research
  information, data and/or content contained on the Website (including but not limited to any
  information which may be provided by any third party or data or content providers) and shall
  not be bound in any manner by any information contained on the Website. The Website may be
  unavailable from time to time for any reason. You understand and acknowledge that due to
  circumstances both within and outside of the control of Twiggzy access to the Website may be
  interrupted, suspended or terminated from time to time. Twiggzy shall have the right at any
  time to change or discontinue any aspect or feature of Twiggzy. No information shall be
  construed as advice and information is offered for information purposes only and is not
  intended for trading purposes. You and your company rely on the information contained on
  this Website at your own risk. If you find an error or omission at this site, please let us
  know.
</p>

<p>
  <b>3. Trademarks</b><br />
  The trademarks, names, logos and service marks (collectively "trademarks") displayed on this
  Website are all registered and unregistered trademarks of Twiggzy. Nothing contained on this
  Website should be construed as granting any license or right to use any trade mark without
  the prior written permission of Twiggzy. Unless otherwise indicated, all other trademarks
  appearing on Twiggzy are the property of their respective owners.
</p>

<p>
  <b>4. Linked Websites</b><br />
  Linked Websites may be provided for your convenience.  Linked Websites are not, however,
  reviewed, controlled, or examined by Twiggzy in any way and Twiggzy is not responsible for
  the content, availability, advertising, products or other materials of any such Linked
  Websites, or any additional links contained therein. These links do not imply Twiggzy’s
  endorsement of or association with the Linked Websites. It is your sole responsibility to
  comply with the appropriate terms of service of the Linked Websites as well as with any other
  obligation under copyright, secrecy, defamation, decency, privacy, security and export laws
  related to the use of such Linked Websites and any content contained thereon. In no event
  shall Twiggzy be liable, directly or indirectly, to anyone for any loss or damage arising from
  or occasioned by the creation or use of the Linked Websites or the information or material
  accessed-through these Linked Websites. You should direct any concerns to that site's
  administrator or webmaster. Twiggzy reserves the exclusive right, at its sole discretion, to
  add, change, decline or remove, without notice, any feature or link to any of the Linked Sites
  from the Twiggzy Site and/or introduce different features or links to different users.
</p>

<p>
  <b>5. User Conduct</b><br />
  Twiggzy Website is not available to users under the age of 18, outside the demographic
  target, or to any members previously banned by Twiggzy. Users are allowed only one active
  account. Breeching these conditions could result in account termination. Twiggzy on occasion
  will offer its members promotions. In connection with these promotions, any user that
  receives Rewards (prizes, credits, gift cards, coupons or other benefits) from Twiggzy
  through the use of multiple accounts, email addresses, falsified information or fraudulent
  conduct, shall forfeit any Rewards gained through such activity and may be liable for civil
  and/or criminal penalties by law. By using the Twiggzy Website, you acknowledge that you are
  of legal age to form a binding contract and are not a person barred from receiving services
  under the laws of the Philippines or other applicable jurisdiction. You agree to provide true
  and accurate information about yourself when requested by Twiggzy Website. If you provide any
  information that is untrue, inaccurate, or incomplete, Twiggzy has the right to suspend or
  terminate your account and refuse future use of its services. You are responsible for
  maintaining the confidentiality of your account and password, and accept all responsible for
  activities that occur under your account.
</p>

<p>
  <b>6. Disclaimer of Warranty and Limitation of Liablity</b><br />
  YOU AGREE THAT YOUR USE OF THIS WEBSITE SHALL BE AT YOUR SOLE RISK. TWIGGZY, ITS AFFILIATES
  OR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS OR LICENSORS
  MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS WEBSITE'S
  CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THIS WEBSITE AND ASSUMES NO LIABILITY OR
  RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL
  INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE
  OF OUR WEBSITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY
  AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY
  INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR WEBSITE, (V) ANY BUGS, VIRUSES,
  TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR WEBSITE BY ANY THIRD
  PARTY, AND/OR (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY
  KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR
  OTHERWISE MADE AVAILABLE VIA TWIGGZY. TWIGGZY DOES NOT WARRANT, ENDORSE, GUARANTEE, OR
  ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY
  THROUGH TWIGGZY OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING,
  AND TWIGGZY WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY
  TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE
  PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE
  YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.
  <br /><br />
  THIS WEBSITE AND THE LINKED WEBSITES ARE MADE ACCESSIBLE ON AN "AS IS" BASIS WITHOUT
  WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
  WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
  PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION,
  RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THESE TERMS OF USE. THIS DISCLAIMER
  OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR,
  OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER
  VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO,
  ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR,
  NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. USER SPECIFICALLY ACKNOWLEDGES THAT TWIGGZY
  IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR
  THIRD-PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH USER.
  <br /><br/>
  IN NO EVENT SHALL TWIGGZY, OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING OR
  DISTRIBUTING THIS SITE OR THE CONTENTS HEREOF, INCLUDING THE LINKED WEBSITES AND ANY SOFTWARE,
  BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE THIS
  WEBSITE. USER HEREBY ACKNOWLEDGES THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL
  CONTENT ON THIS WEBSITE AND THE LINKED WEBSITES. TWIGGZY IS NOT RESPONSIBLE FOR ANY CONTENT
  THAT A USER, SUBSCRIBER, OR AN UNAUTHORIZED USER MAY POST ON THIS WEBSITE OR ANY OF THE LINKED
  WEBSITES. ANY CONTENT THAT IS POSTED OR UPLOADED THAT IS OR MAY BE DEEMED UNSUITABLE CAN AND
  MAY BE REMOVED BY TWIGGZY. IN ADDITION, TWIGGZY RESERVES THE RIGHT TO EDIT, CHANGE, ALTER,
  DELETE AND PROHIBIT ANY AND ALL CONTENT THAT IT, TWIGGZY, DEEMS UNSUITABLE.
</p>

<p>
  <b>7. Indemnity</b><br />
  User agrees to indemnify and not hold Twiggzy from any claim or demand. Including reasonable
  attorneys’ fees, from and against all losses, expenses, damages and costs resulting from any
  violation of these terms and conditions or any activity related to user’s membership account
  due negligent or wrongful conduct.
</p>

<p>
  <b>8. Use of the Websites</b><br />
  Twiggzy does not make any warranty or representation that information on the Website is
  appropriate for use in any jurisdiction (other than Republic of the Philippines). By
  accessing the Website, you warrant and represent to Twiggzy that you are legally entitled to
  do so and to make use of information made available via the Website.
</p>

<p>
  <b>9. Termination</b><br />
  These terms and conditions are applicable to you upon your accessing the Twiggzy and/or completing the registration or purchasing process. These terms and conditions, or any of them, may be modified or terminated by Twiggzy without notice at any time for any reason. The provisions relating to Copyrights and Trademarks, Disclaimer, Claims, Limitation of Liability, Indemnification, Applicable Laws, Arbitration and General, shall survive any termination.
</p>

<p>
  UPDATED: May 3, 2011<br />
  If you have any questions about our Terms of Use, send us via email at info [at] twiggzy.com.<br />
</p>


<h2><a name="merchants">FOR MERCHANTS</a></h2>
<ol>
  <li>
    <h3>Introduction</h3>
    <p>PLEASE READ THESE TERMS OF USE ("TERMS OF USE") CAREFULLY BEFORE USING THIS WEB SITE ("THIS SITE"). BY ACCESSING THIS WEBSITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE. IF YOU DO NOT AGREE TO THESE TERMS OF USE, DO NOT ACCESS THIS WEBSITE. TWIGGZY RESERVES THE RIGHT TO CHANGE THESE TERMS OF USE AT ANY TIME, AT ITS OWN DISCRETION AND WITHOUT NOTICE TO YOU; HOWEVER, ALL SUCH CHANGES WILL BE POSTED TO THIS WEBSITE. TWIGGZY ENCOURAGES YOU TO REVIEW THE TERMS OF USE FROM TIME TO TIME SO THAT YOU ARE AWARE OF ANY SUCH CHANGES. THE TERMS OF USE THAT ARE APPLICABLE TO YOU AT ANY GIVEN TIME ARE THE THEN-CURRENT TERMS OF USE.</p>
    <p>TWIGGZY RETAINS THE RIGHT TO DENY ACCESS TO THIS WEBSITE TO ANYONE AT ITS COMPLETE DISCRETION FOR ANY REASON, INCLUDING FOR VIOLATION OF ANY OF THESE TERMS OF USE. THIS WEBSITE PROVIDES LINKS TO VARIOUS OTHER WEBSITES, WHETHER AFFILIATED WITH TWIGGZY OR OTHERWISE. THESE OTHER WEBSITES MAY HAVE THEIR OWN TERMS OF USE POLICIES WHICH ARE DIFFERENT FROM, OR IN ADDITION TO, THE TERMS OF USE SPECIFIED HEREIN. BY ACCESSING THESE WEBSITES THROUGH LINKS PROVIDED ON THIS WEBSITE, YOU AGREE TO ABIDE BY EACH APPLICABLE TERMS OF USE POLICY AS THEREIN SPECIFIED.</p>
  </li>
  <li>
    <h3>Limited Right to Use Site Content</h3>
    <p>The viewing, printing or downloading of any content from the Website grants you only a limited, nonexclusive, revocable license for use solely by you for your own personal use and not for republication, distribution, assignment, sublicense, transfer, sale, preparation of derivative works or other non-personal use. No part of any content, graphic or document may be reproduced in any form or incorporated into any information retrieval system, electronic or mechanical, other than for your personal use.</p>
    <p>You may not create a web page or site or computer application of any kind that deep links to or frames this Website, any page of this Website, or any graphics, trademark or other proprietary information of any kind located on this Website without Twiggzy's written permission. You may not use meta tags or any other type of hidden text utilizing Twiggzy's or any of its affiliates' names, trademarks or intellectual property rights on a web site without Twiggzy’s written permission.</p>
    <p>Except for the limited rights expressly granted herein, all right, title and interest in and to the Site and all materials contained therein are reserved by MasterCard. Your right to access this Site may be terminated at any time by MasterCard without notice.</p>
  </li>
  <li>
    <h3>Modification</h3>
    <p>Twiggzy reserves the right to modify, add or delete any documents, information, graphics or other content appearing on or in connection with the Website, including these Terms of Use, at any time without notice.</p>
  </li>
  <li>
    <h3>Trademarks</h3>
    <p>The trademarks, names, logos and service marks (collectively "trademarks") displayed on this Website are all registered and unregistered trademarks of Twiggzy. Nothing contained on this Website should be construed as granting any license or right to use any trade mark without the prior written permission of Twiggzy. Unless otherwise indicated, all other trademarks appearing on Twiggzy are the property of their respective owners.</p></li>
  <li>
    <h3>System Integrity</h3>
    <p>You may not use any hardware or software intended to damage or interfere with the proper and timely functioning of the Website or to surreptitiously intercept any system, data or personal information from the Website. You may not take any action which imposes an unreasonable or disproportionately large load on the Website's network or other infrastructure.</p>
  </li>
  <li>
    <h3>Links Websites</h3>
    <p>The Website may contain links to other Websites that are completely independent of this Website. Twiggzy is not responsible for the accuracy, content, or authenticity of the information or content contained in any such linked Website, or for the products or services offered or sold through any such linked Website. Such links shall not be construed as an approval or endorsement by Twiggzy of the linked Website, or information, content, products or services offered therein. These links are provided only as a convenience to you. If you decide to access other Websites through our Website, you do so at your own risk.</p>
  </li>
  <li>
    <h3>Merchant Conduct</h3>
    <p>Twiggzy Website is not available to merchants without the legal authority of the Republic of the Philippines (such as the business permits and so on), or to any merchants  previously banned by Twiggzy. Merchants  are allowed only one active account and create multiple branches. Breeching these conditions could result in account termination. By using the Twiggzy Website, you acknowledge that you , merchant,  are of legal age to form a binding contract and are not a person barred from receiving services under the laws of the Republic of the  Philippines or other applicable jurisdiction. You agree to provide true and accurate information about your business establishment, corporation or firm when requested by Twiggzy Website. If you provide any information that is untrue, inaccurate, or incomplete, Twiggzy has the right to suspend or terminate your account and refuse future use of its services. You are responsible for maintaining the confidentiality of your account and password, and accept all responsible for activities that occur under your account.</p>
  </li>
  <li>
    <h3>No Representation or Warranty</h3>
    <p>While Twiggzy will use reasonable efforts to ensure that all material on this Website is correct, accuracy cannot be guaranteed and Twiggzy does not assume any responsibility or liability for the accuracy, completeness or authenticity of any information contained in this Website.</p>
    <p>THIS WEBSITE AND ALL CONTENT CONTAINED HEREIN ARE PROVIDED TO YOU "AS IS," AND "AS AVAILABLE," AND ALL WARRANTIES, EXPRESS OR IMPLIED, ARE HEREBY DISCLAIMED, INCLUDING ANY WARRANTY OF MERCHANTABILITY, NONINFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE. NO INFORMATION OBTAINED BY YOU FROM MASTERCARD THROUGH THE WEBSITE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN.</p>
    <p>WITHOUT LIMITATION, TWIGGZY DISCLAIMS ALL WARRANTIES REGARDING THE AVAILABILITY OF THE WEBSITE, THAT THE WEBSITE WILL OPERATE ERROR-FREE, THAT DEFECTS WILL BE CORRECTED OR THAT THE WEBSITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOUR USE OF THIS WEBSITE IS AT YOUR OWN RISK, ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THIS WEBSITE IS PROVIDED AT YOUR OWN RISK, AND</p>
    <p>YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR ANY DATA LOSS THAT MAY RESULT FROM YOUR USE OF THE WEBSITE, INCLUDING WITHOUT LIMITATION, DAMAGE RESULTING FROM COMPUTER VIRUSES.</p>
    <p>PLEASE NOTE THAT SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.</p>
  </li>
  <li>
    <h3>Disclaimer of Damages and Limitation of Liability</h3>
    <p>IN NO EVENT SHALL TWIGGZY BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, PUNITIVE, EXEMPLARY, CONSEQUENTIAL OR OTHER DAMAGES WHATSOEVER, INCLUDING BUT NOT LIMITED TO PROPERTY DAMAGE, LOSS OF USE, LOSS OF BUSINESS, ECONOMIC LOSS, LOSS OF DATA OR LOSS OF PROFITS, WITHOUT REGARD TO THE FORM OF ACTION (INCLUDING BUT NOT LIMITED TO CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTIONS) ARISING OUT OF OR IN CONNECTION WITH YOUR USE OR ACCESS OF THE WEBSITE OR ITS CONTENT, EVEN IF TWIGGZY OR ITS BUSINESS PARTNERS, EMPLOYEES, REPRESENTATIVES OR AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE OR LOSS.</p>
  </li>
<!--
  <li>
    <h3>Service Plans</h3>
    <p>Service Plans depends on the quota or the volume, and the discounted price of the product for the deal. You may view the details of your Service Plan at any time by logging in to your account and proceed to the “create a deal”. Pricing for all Service Plans is subject to change per this agreement.</p>
  </li>
  <li>
    <h3>Renewal</h3>
    <p>Renewal of Service Plans is at the sole discretion of Twiggzy. Provider reserves the right to alter pricing of Services. Existing Merchants will be notified of Service pricing changes at least 90 days prior to their next Service Plan renewal. Renewal of the Service Plan will continue automatically at the end of the Service Period with the new Service Price unless Merchants cancel Service in accordance with the Cancellation Terms.</p>
  </li>
  <li>
    <h3>Service Fees</h3>
    <p>Merchants using Twiggzy will be charged seven (7) days or one (1) week after the deal is redeemed by the users or the buyers. The amount of Service Payment is based on the Service Plan. If Twiggzy is unable to collect the Service Payment, Merchant account access will not be denied, but no new deals may be created and posted. Full Service access will be restored upon successful Service Payment, which will begin a new Service Period.</p>
  </li>
-->
  <li>
    <h3>Transfer of Deals</h3>
    <p>Merchants may not resell, re-use, assign or transfer any data, images or programming code associated with Twiggzy  without written permission. Any attempt to do so will result in immediate termination of this Agreement without liability to Twiggzy.</p>
  </li>
  <li>
    <h3>Right to Refuse Deals</h3>
    <p>All Deals are subject to Twiggzy’s  approval. Twiggzy reserves the right to refuse or cancel deal to any Merchant at any time.</p>
  </li>
  <li>
    <h3>Cancellation Due To Errors</h3>
    <p>Twiggzy has the right to cancel an order at anytime due to typographical or unforeseen errors that results in the deal(s) on the Website being listed inaccurately (having the wrong price or descriptions etc.). In the event a cancellation occurs one (1) day before the schedule date(s) of the deal, Twiggzy will not notify you. However, in the event a cancellation occurs within the schedule date(s) of the deal, Twiggzy will notify the merchants and users as soon as possible. Twiggzy is not responsible for any loss of the claim of coupon, tracking of users or buyers and so on.</p>
  </li>
  <li>
    <h3>Indemnification</h3>
    <p>You agree to indemnify, defend and hold Twiggzy and its business partners, staff and affiliates harmless from any liability, loss, claim and expense, including reasonable attorneys' fees and expenses, related to either your violation of these Terms of Use or your use of the Website.</p>
  </li>
  <li>
    <h3>Cancellation</h3>
    <p>The Merchant must cancel the deal one (1) day before the scheduled date in order not to defeat the purpose of Twiggzy. To cancel or delete, the Merchant must go to the deal’s list. Merchants will not be billed for cancellation and there is no term commitment.</p>
  </li>
</ol>
<p>
  UPDATED: June 6, 2011<br />
  If you have any questions about our Terms of Use, send us via email at info [at] twiggzy.com.
</p>


