<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @classification.name %>
</p>


<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
