#footer
  %p#footer
    Copyright &copy; 2011 <a href="/">Twiggzy.com</a> All Rights Reserved.
  %p
    <a href="/privacy">Privacy Policy</a> / <a href="/term_use">Terms of Use</a> / <a href="/term_sale">Terms of Sale</a>
  %p{ :class => "note"}
    Please read this privacy carefully, by accessing or using Twiggzy website, you acknowledge that you have read, understand, and agree to be bound to all the terms of this privacy policy and our website terms of use. If you do not agree to these terms, exit this page and do not access or use the website.
